<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.visionvera.remoteservice.dao.SysRoleDao">

  <!-- 根据用户id获取角色名称列表 -->
  <select id="getSysRoleNameByUserId" resultType="String" parameterType="Integer">
        SELECT b.roleName FROM t_user_role_rel a, t_role b
        WHERE a.roleId = b.roleId
        AND a.userId = #{userId}
    </select>

  <!-- 根据用户id获取角色列表 -->
  <select id="getSysRoleByUserId" resultType="com.visionvera.remoteservice.bean.RoleBean" parameterType="Integer">
        SELECT b.roleId , b.roleName , b.description ,b.createTime ,b.updateTime ,b.`state` ,b.version
        FROM t_user_role_rel a, t_role b
        WHERE a.roleId = b.roleId
        AND a.userId = #{userId}
    </select>

  <!-- 查询角色列表 -->
  <select id="getSysRoleList" parameterType="String" resultType="com.visionvera.remoteservice.bean.SysRoleBean" >
    SELECT roleId , roleName , description , createTime ,updateTime , `state` , version
    FROM t_sys_role
    WHERE `state` > 0
    <if test="roleName != null and roleName  !=''">
      AND roleName like '%' #{roleName} '%'
    </if>
    <if test="userId != null and userId  !=''">
      AND creater = #{userId}
    </if>
    ORDER BY updateTime DESC
  </select>

  <!-- 添加用户角色关联 -->
  <insert id="addSysUserAndRoleRel">
        insert into t_user_role_rel
        (userId , roleId)
        value
        (#{userId} , #{roleId})
    </insert>

  <!-- 根据用户id 批量删除角色关联  -->
  <delete id="deleteSysRoleRel">
    delete from t_user_role_rel
    where userId
    in
    <foreach collection="array" open="(" separator=","  close=")" item="userId">
      #{userId}
    </foreach>
  </delete>

  <!-- 根据用户id 修改 角色关联  -->
  <update id="updateSysRelByUserId">
        update t_user_role_rel
        set roleId = #{roleId}
        where userId = #{userId}
    </update>

  <select id="getChildSysPermissionList" parameterType="Integer" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
        m.permissionId,
        m.parentId,
        m.permissionName,
        m.url,
        m.type,
        m.description
        FROM
        t_sys_permission m
        WHERE m.`state` = 1 AND m.type = 1 AND m.parentId = #{permissionId}
    </select>

  <select id="getParentSysPermissionList" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
        m.permissionId,
        m.permissionName as label,
        m.parentId,
        m.url,
        m.type,
        m.description,
        m.icon
        FROM
        t_sys_permission m
        WHERE m.`state` = 1 AND m.parentId = #{parentId}
        order by seq asc
    </select>

  <select id="getSysRoleInfo" parameterType="Integer" resultType="com.visionvera.remoteservice.bean.SysRoleBean">
        SELECT
        roleId,
        roleName,
        description,
        `state`,
        type
        FROM
        t_sys_role
        WHERE
        roleId = #{roleId}
    </select>

  <update id="editSysRoleInfo">
        UPDATE `t_sys_role`
        SET `roleName` = #{roleName},
        `description` = #{description},
        `updateTime` = now()
        WHERE
        `roleId` = #{roleId};
    </update>

  <delete id="deleteRoleById">
    DELETE FROM
    t_sys_role
    WHERE roleId IN
    <foreach collection="roleIds" item="roleId" open="(" close=")" separator="," >
      #{roleId}
    </foreach>
  </delete>

  <delete id="deleteRoleUserRel">
    UPDATE
    t_sys_user_role_rel SET roleId = NULL
    WHERE roleId IN
    <foreach collection="roleIds" item="roleId" open="(" close=")" separator="," >
      #{roleId}
    </foreach>
  </delete>

  <delete id="deleteRolePermissionRel">
    DELETE FROM
    t_sys_role_permission_rel
    WHERE roleId IN
    <foreach collection="roleIds" item="roleId" open="(" close=")" separator="," >
      #{roleId}
    </foreach>
  </delete>

  <insert id="addSysRole" useGeneratedKeys="true" keyProperty="roleId" keyColumn="roleId">
        INSERT INTO t_sys_role ( `roleName`, `description`, `createTime`, `updateTime`, `state`, `version`, `type` , `creater`)
        VALUES
        (#{roleName}, #{description}, NOW(), NOW(), 1, 0, #{type},#{creater} );
    </insert>

  <insert id="addSysUserPermission">
    INSERT INTO t_sys_role_permission_rel ( `roleId`, `permissionId`) VALUES
    <foreach item="st" collection="list" index="index" open="" separator="," close="">
      (#{st.roleId}, #{st.permissionId})
    </foreach>
  </insert>

  <select id="getRoles" parameterType="java.lang.Long" resultType="java.lang.String">
    SELECT DISTINCT r.roleSign
    FROM
      t_sys_user_role_rel ur
      LEFT JOIN t_sys_role r ON ur.roleId = r.roleId
      LEFT JOIN t_sys_user u ON ur.userId = u.userId
    WHERE
      u.user_id = #{userId}
  </select>

  <select id="getAllPermission" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        select * from t_sys_permission
    </select>

  <select id="getPermsListByUserId" resultType="java.lang.String">
        SELECT m.perms
    FROM
      t_sys_user u,
      t_sys_role r,
      t_sys_permission m,
      t_sys_user_role_rel ur,
      t_sys_role_permission_rel rp
    WHERE
      ur.roleId = r.roleId
      AND ur.userId = u.userId
      AND rp.roleId = r.roleId
      AND rp.permissionId = m.permissionId
      AND u.userId = #{userId}
    </select>

  <select id="getFirstLevelMenu" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
            a.permissionId,
            a.parentId,
            a.permissionName as label,
            a.description,
            a.url
        FROM
            t_sys_permission a,
            t_sys_role_permission_rel b,
            t_sys_user_role_rel c
        WHERE
            a.permissionId = b.permissionId
            AND c.roleId = b.roleId
            AND c.userId = #{userId}
            AND a.`state` = 1
            AND a.parentId = 0
    </select>

  <select id="isHaveChildMenu" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
            a.permissionId,
            a.parentId,
            a.permissionName as label,
            a.description,
            a.url
        FROM
            t_sys_permission a,
            t_sys_role_permission_rel b,
            t_sys_user_role_rel c
        WHERE
            a.permissionId = b.permissionId
            AND c.roleId = b.roleId
            AND a.`state` = 1
            AND a.`type` != 2
            AND a.parentId = #{permissionId}
    </select>

  <select id="getUserMenuButton" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
            a.permissionId,
            a.permissionName as label,
            a.parentId
        FROM
            t_sys_permission a,
            t_sys_role_permission_rel b,
            t_sys_user_role_rel c
        WHERE
            a.permissionId = b.permissionId
            AND c.roleId = b.roleId
            AND a.`state` = 1
            AND a.type = 2
            AND a.parentId = #{permissionId}
            AND c.userId = #{userId}
    </select>

  <select id="getRoleMenuIdList" resultType="java.lang.Long">
        SELECT  sr.permissionId
            FROM
              t_sys_role_permission_rel sr
            WHERE
              sr.roleId = #{roleId}
    </select>

  <select id="getUserRoleInfo" resultType="Integer">
        select roleId from t_sys_user_role_rel where userId = #{userId}
    </select>

  <select id="getUserMenuButtonByPermissionId" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
            a.permissionId,
            a.permissionName as label,
            a.parentId
            FROM
            t_sys_permission a
            WHERE
            a.`state` = 1
            AND a.type = 2
            AND a.parentId = #{permissionId}
    </select>

  <select id="queryUserButtonList" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
        SELECT
          a.permissionId,
          a.perms
        FROM
          t_sys_permission a,
          t_sys_role_permission_rel b,
          t_sys_user_role_rel c
        WHERE
          a.permissionId = b.permissionId
          AND c.roleId = b.roleId
          AND a.`state` = 1
          AND a.type = 2
          AND c.userId = #{userId}
    </select>

  <select id="queeyAllUserButtonList" resultType="com.visionvera.remoteservice.bean.SysPermissionBean">
    SELECT
          a.permissionId,
          a.perms
        FROM
          t_sys_permission a
        WHERE
           a.`state` = 1
          AND a.type = 2

  </select>

  <select id="getSysRole" resultType="com.visionvera.remoteservice.bean.SysRoleBean">
    SELECT roleId , roleName , description , createTime ,updateTime , `state` , version
    FROM t_sys_role
    WHERE `state` > 0
    <if test="roleName != null and roleName  !=''">
      AND roleName = #{roleName}
    </if>
    <if test="userId != null and userId  !=''">
      AND creater = #{userId}
    </if>
  </select>
</mapper>
